.acesso-dialog {
  min-width: 400px;
  max-width: 100%;
  padding: 24px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;

  h2 {
    text-align: center;
    margin-bottom: 16px;
    color: #333;
  }

  mat-form-field {
    width: 100%;
  }

  button[type="submit"] {
    margin-top: 16px;
    padding: 8px;
    font-size: 16px;
    min-height: 36px;
    position: relative;

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

::ng-deep {
  .mat-mdc-tab-group {
    margin-top: -24px;
  }

  .mat-mdc-tab-body-content {
    overflow: hidden !important;
  }

  .mat-mdc-form-field-error {
    font-size: 12px;
  }

  .mat-mdc-snack-bar-container {
    &.error {
      --mdc-snackbar-container-color: #f44336;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
    }

    &.success {
      --mdc-snackbar-container-color: #4caf50;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
    }
  }
}