.acesso-dialog {
  min-width: 400px;
  max-width: 100%;
  padding: 24px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;

  h2 {
    text-align: center;
    margin-bottom: 16px;
    color: #333;
  }

  mat-form-field {
    width: 100%;
  }

  button[type="submit"] {
    margin-top: 16px;
    padding: 8px;
    font-size: 16px;
    min-height: 36px;
    position: relative;

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
  margin-top: 16px;
  gap: 8px;
  border: 1px solid #dadce0;
  border-radius: 4px;
  color: #3c4043;
  background-color: white;
  transition: background-color 0.3s ease;

  &:hover:not([disabled]) {
    background-color: #f8f9fa;
  }

  &:active:not([disabled]) {
    background-color: #f1f3f4;
  }

  .google-icon {
    width: 18px;
    height: 18px;
  }
}

mat-divider {
  margin: 24px 0;
  position: relative;
  text-align: center;

  &::after {
    content: attr(ng-reflect-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0 16px;
    color: rgba(0, 0, 0, 0.54);
  }
}

::ng-deep {
  .mat-mdc-tab-group {
    margin-top: -24px;
  }

  .mat-mdc-tab-body-content {
    overflow: hidden !important;
  }

  .mat-mdc-form-field-error {
    font-size: 12px;
  }

  .mat-mdc-snack-bar-container {
    &.error {
      --mdc-snackbar-container-color: #f44336;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
    }

    &.success {
      --mdc-snackbar-container-color: #4caf50;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
    }
  }
}