<mat-dialog-content class="config-dialog">
    <h2>Configurações</h2>

    <div class="config-header">
        <mat-nav-list>
            <mat-list-item>
                <mat-icon matListItemIcon>person</mat-icon>
                <span matListItemTitle>Minha Conta</span>
            </mat-list-item>

            <mat-list-item>
                <mat-icon matListItemIcon>notifications</mat-icon>
                <span matListItemTitle>Notificações</span>
            </mat-list-item>

            <mat-list-item>
                <mat-icon matListItemIcon>integration_instructions</mat-icon>
                <span matListItemTitle>Integrações</span>
            </mat-list-item>

            <mat-list-item>
                <mat-icon matListItemIcon>download</mat-icon>
                <span matListItemTitle>Exportar Dados</span>
            </mat-list-item>

            <mat-list-item>
                <mat-icon matListItemIcon>workspace_premium</mat-icon>
                <span matListItemTitle>Assinatura</span>
            </mat-list-item>
        </mat-nav-list>

        <div class="user-profile">
            <div class="avatar">
                <!-- Placeholder circular avatar -->
                <div class="avatar-circle"></div>
            </div>
            <h3>Usuario</h3>
            <p class="email">usuario.conta&#64;gmail.com</p>
        </div>
    </div>
</mat-dialog-content>