<div class="estatisticas-container">
    <div class="estatisticas-grid">
        <!-- Card Pizza -->
        <mat-card class="estatistica-card">
            <mat-card-title>Distribuição de Categorias</mat-card-title>
            <div class="grafico">
                @if (isBrowser){
                <canvas baseChart [data]="pieChartData" chartType="pie">
                </canvas>
                }

            </div>
            <div class="info">
                Total de produtos: <b>2.500</b>
            </div>
        </mat-card>

        <!-- Card Barras -->
        <mat-card class="estatistica-card">
            <mat-card-title>Entradas x Saídas (Últimos meses)</mat-card-title>
            <div class="grafico">
                @if (isBrowser){
                <canvas baseChart [data]="barChartData" chartType="bar">
                </canvas>
                }
            </div>
            <div class="info">
                Mês com maior entrada: <b>Março</b>
            </div>
        </mat-card>

        <!-- Card Comparativo -->
        <mat-card class="estatistica-card">
            <mat-card-title>Comparativo Estoque</mat-card-title>
            <div class="comparativo">
                <div>
                    <span class="label">Atual</span>
                    <span class="valor primary">{{comparativo.atual}}</span>
                </div>
                <div>
                    <span class="label">Anterior</span>
                    <span class="valor secondary">{{comparativo.anterior}}</span>
                </div>
            </div>
            <div class="info">
                Crescimento: <b>{{((comparativo.atual-comparativo.anterior)/comparativo.anterior*100) |
                    number:'1.0-2'}}%</b>
            </div>
        </mat-card>
    </div>
</div>