@use '@angular/material' as mat;

@import 'app/styles/theme.css';

html, body { 
  height: 100%; 
  margin: 0;
}

body { 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.light-theme {
  color-scheme: light;
}

.dark-theme {
  color-scheme: dark;
}

// Custom dialog styles
.config-dialog-container .mat-mdc-dialog-surface {
  border-radius: 16px;
  overflow: hidden;
}

mat-dialog-content {
  &::-webkit-scrollbar {
    width: 6px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--mat-sys-primary-container);
    border-radius: 10px;
  }
}

.multiline-tooltip {
  white-space: pre-line;
  max-width: 300px;
}

